.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content{
    color: #ffffff;
}

.oligo {
    height: auto !important;
    min-height: 40px;
    line-height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}