.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content{
    color: #ffffff;
}

.btn.waves-effect.waves-light.btn-large {
    height: auto;
    min-height: 20px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}